$primary-color: #f7f7f7;
$accent-color: lightblue;
$text-colors: (
  "primary": red,
  "secondary": blue,
  "light": green,
);
$maxwell-orange: #fca51d;
$maxwell-orange-light: #f2b66d;
$maxwell-orange-lighter: #f2b66d;
$maxwell-light-grey: #94a5ab;
$maxwell-dark-grey: #525f64;

$bg-colors: (
  "primary": white,
  "secondary": lightgreen,
  "light": lightgrey,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  maxwellOrange: $maxwell-orange;
  maxwellLightGrey: $maxwell-light-grey;
  maxwellDarkGrey: $maxwell-dark-grey;
}

@mixin mobileHeaderStyles {
  position: sticky;
  border-bottom: 2px solid $maxwell-orange;
  background-color: black;
  transition: height 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.mobileHeaderOpen {
  @include mobileHeaderStyles();
  height: calc(100vh);
}

.mobileHeaderClosed {
  @include mobileHeaderStyles();
  height: 60px;
  overflow: hidden;
}

@mixin listStyles {
  color: $maxwell-orange;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  &:not(:last-child) {
    border-bottom: 1px solid $maxwell-orange;
  }
}

@mixin mobileHeaderNavStyles {
  display: flex;
  width: 200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.mobileHeaderNavOpen {
  @include mobileHeaderNavStyles();
  height: calc(100vh - 60px);
  li {
    @include listStyles();
    height: 50px;
    opacity: 1;
  }
}
.mobileHeaderNavClosed {
  @include mobileHeaderNavStyles();
  height: 0;
  overflow: hidden;
  li {
    @include listStyles();
    height: 10px;
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1;
}

.headerNav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1;
  margin-left: 120px;
  position: relative;

  div {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  &:hover {
    div {
      visibility: visible;
      position: absolute;
      opacity: 1;
      top: 80px;
      left: 0;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
        transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0ms;

      width: 500px;
      height: 300px;
    }
  }
  li {
    cursor: pointer;
    width: 110px;
    // color: $maxwell-dark-grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    &:hover {
      color: $maxwell-orange-lighter;
      transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    }
  }
}

.headerNavItemActive {
  border-top: 3px solid $maxwell-orange;
  color: $maxwell-orange;
}

.headerNavHomeHover {
  transform: translate(0px, 0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.headerNavMissionOSHover {
  transform: translate(110px, 0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.headerNavApplicationsHover {
  transform: translate(220px, 0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.headerNavProjectsHover {
  transform: translate(330px, 0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.headerNavServicesHover {
  transform: translate(440px, 0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
