$primary-color: #f7f7f7;
$accent-color: lightblue;
$text-colors: (
  "primary": red,
  "secondary": blue,
  "light": green,
);
$maxwell-orange: #fca51d;
$maxwell-orange-light: #f2b66d;
$maxwell-orange-lighter: #f2b66d;
$maxwell-light-grey: #94a5ab;
$maxwell-dark-grey: #525f64;

$bg-colors: (
  "primary": white,
  "secondary": lightgreen,
  "light": lightgrey,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  maxwellOrange: $maxwell-orange;
  maxwellLightGrey: $maxwell-light-grey;
  maxwellDarkGrey: $maxwell-dark-grey;
}

@mixin mobileHeaderStyles {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  border-bottom: 2px solid $maxwell-orange;
  background-color: #222222;
  transition: height 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.mobileHeaderOpen {
  @include mobileHeaderStyles();
  height: calc(100vh);
}

.mobileHeaderClosed {
  @include mobileHeaderStyles();
  height: 60px;
  overflow: hidden;
}

@mixin listStyles {
  color: $maxwell-orange;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1) 0ms,
    opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  &:not(:last-child) {
    border-bottom: 1px solid $maxwell-orange;
  }
}

@mixin mobileHeaderNavStyles {
  display: flex;
  width: 200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 1s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.mobileHeaderNavOpen {
  @include mobileHeaderNavStyles();
  height: calc(100vh - 60px);
  li {
    @include listStyles();
    height: 50px;
    opacity: 1;
  }
}
.mobileHeaderNavClosed {
  @include mobileHeaderNavStyles();
  height: 0;
  overflow: hidden;
  li {
    @include listStyles();
    height: 10px;
    opacity: 0;
  }
}

.header {
  display: flex;
  // position: sticky;

  top: 0px;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 1;
  height: 70px;
}

.headerNav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1;
  margin-left: 220px;
  position: relative;

  li {
    cursor: pointer;
    width: 110px;
    // color: $maxwell-dark-grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-top: 3px solid transparent;

    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    &:hover {
      color: $maxwell-orange-lighter;
      transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    }
  }
}

.headerNavItemActive {
  border-top: 3px solid $maxwell-orange !important;
  color: $maxwell-orange;
}

.subHeading {
  font-size: 2rem;
  font-weight: 700;
  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.preventScroll {
  overflow: hidden;
}
